<div id="page-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header"><i class="fa fa-home"></i> Home</h1>
            </div>
        </div>
        <div id="mainTab" class="container">
            <ul class="nav nav-tabs row">
                <li class="active">
                    <a href="#schema" data-toggle="tab">Schema and Test Data</a>
                </li>
                <li><a href="#results" data-toggle="tab">Granular Results</a>
                </li>
                <li><a href="#elasticSearch" data-toggle="tab">Elastic Search</a>
                </li>
            </ul>
            <div class="tab-content ">
                <div class="tab-pane active container" id="schema">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <label>Select Data Files</label>
                                        </div>
                                        <div class="col-xs-7">
                                            <div class="progress-bar" role="progressbar"></div>
                                        </div>
                                        <div class="col-xs-5">
                                            <button class="btn btn-primary upload-btn" type="button">Upload File</button>
                                            <input id="upload-input" type="file" name="uploads[]" multiple="multiple"
                                                   style="display: none"></br>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--<div class="row">-->
                            <!--<div class="col-md-6">-->
                            <!--<label>Select Data Files</label>-->
                            <!--<div class="progress">-->
                            <!--<div class="progress-bar" role="progressbar"></div>-->
                            <!--</div>-->

                            <!--<button class="btn btn-primary upload-btn" type="button">Upload File</button>-->
                            <!--<input id="upload-input" type="file" name="uploads[]" multiple="multiple"-->
                            <!--style="display: none"></br>-->
                            <!--</div>-->
                            <!--</div>-->

                            <div class="row">
                                <div class="col-md-6">
                                    <form action="/validate" method="POST" enctype="multipart/form-data"
                                          name="validation-form">
                                        <div class="row form-group">
                                            <div class="col-xs-12">
                                                <label>Select Specs</label>
                                            </div>
                                            <div class="col-xs-7">
                                                <select required class="form-control" name="spec_file">
                                                    <option value="">--Select--</option>
                                                    <option value="gdrive">Select From Google Drive</option>
                                                    <% if(false){ %>
                                                    <option value="new">Upload New Spec</option>
                                                    <option value="failure">Failure Analysis</option>
                                                    <option value="systest">System Tests</option>
                                                    <option value="shipment">Shipment</option>
                                                    <% } %>
                                                </select>
                                            </div>
                                            <div class="col-xs-5" id="sepc_browse"></div>
                                        </div>
                                        <div class="row form-group">
                                            <div class="col-xs-12">
                                                <label>Select Destination</label>
                                            </div>
                                            <div class="col-xs-7">
                                                <select required class="form-control" name="destination">
                                                    <option value="">--Select--</option>
                                                    <% if(false){ %>
                                                    <option value="local">Local</option>
                                                    <% } %>
                                                    <option value="gdrive">Google Drive</option>
                                                </select>
                                            </div>
                                            <div class="col-xs-5" id="dest_browse">
                                            </div>
                                        </div>
                                        <div class="row form-group">
                                            <div class="col-xs-3 col-xs-offset-4">
                                                <span id="done" class="hidden"
                                                      style="color: green; font-weight: bold; margin-left: 28%;"> Done... </span>
                                                <button class="form-control form-group btn btn-primary" type="submit">
                                                    Start Validation
                                                </button>
                                            </div>
                                        </div>
                                    </form>
                                    <br>
                                    <div class="col-xs-3 col-xs-offset-4">
                                        <a id="view" class="btn btn-primary btn-block hidden" target="_blank">View
                                            Data</a>
                                        <a id="explore" class="btn btn-primary btn-block hidden">Explore All</a>
                                        <a href="/" id="donebtn" class="btn btn-primary btn-block hidden">Refresh</a>

                                    </div>
                                </div>

                                <!--<div id="graph_all_div" class="col-xs-4 hidden"></div>-->

                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div id="graph_all_div"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane container" id="results">
                    <div class="panel panel-default">
                        <div id="tableResults"></div>
                        <div class="row">
                            <div class="col-md-6"></div>
                            <div class="col-md-6">
                                <!--<a id="explore" class="btn btn-primary  hidden">Explore</a>-->
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <!--<div id="graph_individual_div" class="hidden"></div>-->
                                <div id="graph_div" class="hidden"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane container" id="elasticSearch">
                    <div class="panel panel-default">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="js/sunbrust.js"></script>
<script>
    String.prototype.replaceAll = function (str1, str2, ignore) {
        return this.replace(new RegExp(str1.replace(/([\/\,\!\\\^\$\{\}\[\]\(\)\.\*\+\?\|\<\>\-\&])/g, "\\$&"), (ignore ? "gi" : "g")), (typeof(str2) == "string") ? str2.replace(/\$/g, "$$$$") : str2);
    }
    // gdrive file picker
    var clientId = "<%= gapi.CLIENT_ID %>";
    var appId = "<%= gapi.APP_ID %>";
    var scope = ['https://www.googleapis.com/auth/drive'];
    var pickerApiLoaded = false;
    var oauthToken = '';

    function createPicker(type) {
        if (type == "spec") {
            if (pickerApiLoaded && oauthToken) {
                var view = new google.picker.DocsView()
                    .setIncludeFolders(true)
                    .setMimeTypes("application/vnd.google-apps.spreadsheet");
                var picker = new google.picker.PickerBuilder()
                    .enableFeature(google.picker.Feature.NAV_HIDDEN)
                    .setAppId(appId)
                    .setOAuthToken(oauthToken)
                    .addView(view)
                    .setCallback(function (data) {
                        if (data.action == google.picker.Action.PICKED) {
                            $("[name='" + type + "']").val(data.docs[0].id);
                            $("#specfile").html("Selected File: <b>" + data.docs[0].name + "</b>");
                        }
                    })
                    .build();
                picker.setVisible(true);
            }
        } else if (type == "dest") {
            var docsView = new google.picker.DocsView()
                .setIncludeFolders(true)
                .setMimeTypes('application/vnd.google-apps.folder')
                .setSelectFolderEnabled(true);
            var picker = new google.picker.PickerBuilder()
                .enableFeature(google.picker.Feature.NAV_HIDDEN)
                .setAppId(appId)
                .setOAuthToken(oauthToken)
                .addView(docsView)
                .setCallback(function (data) {
                    if (data.action == google.picker.Action.PICKED) {
                        $("[name='" + type + "']").val(data.docs[0].id);
                        $("#destfile").html("Selected Folder: <b>" + data.docs[0].name + "</b>");
                    }
                })
                .build();
            picker.setVisible(true);
        }
    }

    function gdrivePicker(input) {
        var type = $(input).attr("name");
        $("[name='" + type + "']").val('');
        $("[name='" + type + "']").parent().parent().find('p').html('');
        gapi.load('auth', {
            'callback': function () {
                window.gapi.auth.authorize(
                    {
                        'client_id': clientId,
                        'scope': scope,
                        'immediate': false
                    },
                    function (authResult) {
                        console.log(authResult);
                        if (authResult && !authResult.error) {
                            oauthToken = authResult.access_token;
                            createPicker(type);
                        }
                    });
            }
        });
        gapi.load('picker', {
            'callback': function () {
                pickerApiLoaded = true;
//            createPicker(type);
            }
        });
    }

    function showgraphAll() {
        $("#graph_all_div").removeClass("hidden");
        //$("#graph_div").removeClass("hidden");
        //console.log(typeof report_id);
        $.ajax({
            //url: "/getReportData",
            url: "/getAllReportData",
            type: "POST",
            dataType: 'json',
            data: {report_id: 0},
            success: function (res) {
                var nested_data = d3.nest()
                    .key(function (d) {
                        return d.ViolatedFiled;
                    })
                    .key(function (d) {
                        return d.ViolationType;
                    })
                    .key(function (d) {
                        return d.FileName;
                    })
                    .rollup(function (leaves) {
                        return "size:" + leaves.length
                    })
                    .entries(res.data);
                nested_data = {key: "Report", values: nested_data};
                jsonString = JSON.stringify(nested_data);
                jsonString = jsonString.replaceAll("\"key\":", "\"name\":");
                jsonString = jsonString.replaceAll("\"values\":", "\"children\":");
                jsonString = jsonString.replaceAll("\"children\":\"size:", "\"size\":\"");
                createSunBrust(JSON.parse(jsonString),"graph_all_div");
            },
            error: function (a, b, c) {
                console.log(a, b, c);
            },
        });
    }

    function showgraphIndividual(report_id) {
        //$("#graph_individual_div").removeClass("hidden");
        $("#graph_div").removeClass("hidden");
        $.ajax({
            url: "/getReportData",
            type: "POST",
            dataType: 'json',
            data: {report_id: report_id},
            success: function (res) {
                var nested_data = d3.nest()
                    .key(function (d) {
                        return d.ViolatedFiled;
                    })
                    .key(function (d) {
                        return d.ViolationType;
                    })
                    .key(function (d) {
                        return d.FileName;
                    })
                    .rollup(function (leaves) {
                        return "size:" + leaves.length
                    })
                    .entries(res.data);
                nested_data = {key: "Report", values: nested_data};
                jsonString = JSON.stringify(nested_data);
                jsonString = jsonString.replaceAll("\"key\":", "\"name\":");
                jsonString = jsonString.replaceAll("\"values\":", "\"children\":");
                jsonString = jsonString.replaceAll("\"children\":\"size:", "\"size\":\"");
                createSunBrust(JSON.parse(jsonString),"graph_div");
            },
            error: function (a, b, c) {
                console.log(a, b, c);
            },
        });
    }

    $().ready(function () {
        $('.upload-btn').on('click', function () {

            $('#upload-input').click();
            $('.progress-bar').text('0%');
            $('.progress-bar').width('0%');
        });
        $('#upload-input').on('change', function () {

            var files = $(this).get(0).files;

            if (files.length > 0) {
                // create a FormData object which will be sent as the data payload in the
                // AJAX request
                var formData = new FormData();

                // loop through all the selected files and add them to the formData object
                for (var i = 0; i < files.length; i++) {
                    var file = files[i];

                    // add the files to formData object for the data payload
                    formData.append('uploads[]', file, file.name);
                }

                $.ajax({
                    url: '/upload',
                    type: 'POST',
                    data: formData,
                    processData: false,
                    contentType: false,
                    success: function (data) {
                        console.log('upload successful!\n' + data);
                    },
                    xhr: function () {
                        // create an XMLHttpRequest
                        var xhr = new XMLHttpRequest();

                        // listen to the 'progress' event
                        xhr.upload.addEventListener('progress', function (evt) {

                            if (evt.lengthComputable) {
                                // calculate the percentage of upload completed
                                var percentComplete = evt.loaded / evt.total;
                                percentComplete = parseInt(percentComplete * 100);

                                // update the Bootstrap progress bar with the new percentage
                                $('.progress-bar').text(percentComplete + '%');
                                $('.progress-bar').width(percentComplete + '%');

                                // once the upload reaches 100%, set the progress bar text to done
                                if (percentComplete === 100) {
                                    $('.progress-bar').html('Data File Uploads Done');
                                }

                            }

                        }, false);

                        return xhr;
                    }
                });

            }
        });
        $('form').on("change", 'input[type="file"]', function () {
            $(this).parent().parent().find("p").html('');
            var name = document.getElementById('data');
            // console.log("data"+name.files.item(0).name);
            $("#datafile").html("Selected File: <b>" + name.files.item(0).name + "</b>");
        });
        $('[name="spec_file"]').on("change", function () {
            if ($(this).val() == 'new') {
                $("#sepc_browse").html('<label class="btn btn-primary">' +
                    '    Browse <input type="file" name="spec" style="display: none;">\n' +
                    '</label><p class="error"></p><p id="specfile"></p>');
            } else if ($(this).val() == 'gdrive') {
                $("#sepc_browse").html('<label class="btn btn-primary">' +
                    '    Browse From Google Drive ' +
                    '<input type="button" name="spec" style="display: none;" onclick="gdrivePicker(this);">\n' +
                    '</label><p class="error"></p><p id="specfile"></p>');
            } else {
                $("#sepc_browse").html('');
            }
        });
        $('[name="destination"]').on("change", function () {
            if ($(this).val() == 'local') {
                $("#dest_browse").html('');
            } else if ($(this).val() == 'gdrive') {
                $("#dest_browse").html('<label class="btn btn-primary btn-file">\n' +
                    '    Browse From Google Drive <input type="button" name="dest" style="display: none;" onclick="gdrivePicker(this);">\n' +
                    '</label><p class="error"></p><p id="destfile"></p>');
            } else {
                $("#dest_browse").html('');
            }
        });
        $('[name="data_file"]').on("change", function () {
            if ($(this).val() == 'local') {
                $("#file_browse").html('<label class="btn btn-primary btn-file">\n' +
                    '    Browse <input type="file" id="data" name="data" style="display: none;" accept=".csv">\n' +
                    '</label><p class="error"></p><p id="datafile"></p>');
            } else if ($(this).val() == 'gdrive') {
                $("#file_browse").html('<label class="btn btn-primary btn-file">\n' +
                    '    Browse From Google Drive <input type="button" style="display: none;">\n' +
                    '</label><p class="error"></p><p id="datafile"></p>');
            } else {
                $("#file_browse").html('');
            }
        });

        $('[name="validation-form"]').validate({
            errorElement: "span",
            submitHandler: function (form) {

                var done = $("#done");
                done.addClass('hidden');
                $("#view").attr("href", "").addClass('hidden');
                $("#explore").addClass('hidden');
                $("#donebtn").addClass('hidden');
                $("#graph_all_div").addClass("hidden");
//                $("#graph_individual_div").addClass("hidden");
                $("#graph_div").addClass("hidden");

                var submit = $(form).find('[type="submit"]');
                var done = $("#done");
                submit.attr('type', 'button').html('validating<i class="fa fa-spinner fa-spin fa-fw fa-lg"></i>');
                var fd = new FormData($(form)[0]);
                fd.append("spec", $("[name='spec']").val());
                fd.append("dest", $("[name='dest']").val());
                fd.append("token", oauthToken);
                $.ajax({
                    url: $(form).attr('action'),
                    type: $(form).attr('method'),
                    dataType: 'json',
                    data: fd,
                    success: function (res) {
                        if (!res.status) {
                            $.each(res.error, function (i, v) {
                                $("[name='" + i + "']").parent().parent().find("p.error").html(v);
                            });
                            submit.attr('type', 'submit').html('Start Validation');
                        } else {
                            // submit.html('Done');
                            done.removeClass('hidden');

                            var reports = res.reports;
                            var table = '';


                            for (var i = 0; i < reports.length; i++) {
                                var gdrive = reports[i];
                                var gdrive_testName = gdrive.gdrive_testName;
                                var gdrive_folderId = gdrive.gdrive_folderId;
                                var gdrive_bad = gdrive.gdrive_bad;
                                var gdrive_good = gdrive.gdrive_good;
                                var gdrive_report = gdrive.gdrive_report;
                                var gdrive_schema = gdrive.gdrive_schema;


                                var theRow =
                                    '<div class="col-md-4">' + gdrive_testName + '</div>' +

                                    '<div class="col-md-4">' + '<a href="#"' +
                                    ' target="_blank" ' + 'id="viewData' + i +
                                    '" class="btn btn-primary" role="button"> ' +
                                    'View Data' + '</a>' + '</div>' +

                                    '<div class="col-md-4">' + '<a' + ' id="explore' + i +
                                    '" class="btn btn-primary"> ' +
                                    'Explore' + '</a>' + '</div>';

                                //'View Data of ' + gdrive_testName + '</a>' + '</div>';
                                table = table + '<div class="row">' + theRow + '</div>';

                            }
                            $("#tableResults").html(table);
                            for (var i = 0; i < reports.length; i++) {
                                var gdrive = reports[i];
                                var gdrive_folderId = gdrive.gdrive_folderId;
                                var gdrive_testName = gdrive.gdrive_testName;
                                console.log('gdrive_folderId=' + gdrive_folderId);
                                var link = "https://drive.google.com/drive/folders/" + gdrive_folderId;
                                $("#viewData" + i).attr("href", link);
                                $("#explore" + i).attr('onclick', 'showgraphIndividual("' + gdrive_testName + '");');
                            }

//                            submit.addClass('hidden');
                            submit.attr('type', 'submit').html('Start Validation');
                            //$("#view").attr("href", res.view_url).removeClass('hidden');
                            $("#explore").attr('onclick', 'showgraphAll();').removeClass('hidden');
                            $("#donebtn").removeClass('hidden');
                        }

                    },
                    error: function (a, b, c) {
                        console.log(a, b, c);
                    },
                    cache: false,
                    contentType: false,
                    processData: false
                });
            }
        });
    });



</script>